[33mcommit be73fc546ea48c4d9f68ca3468a2692251f9f2f1[m[33m ([m[1;36mHEAD -> [m[1;32mdevelop[m[33m, [m[1;31morigin/develop[m[33m)[m
Merge: 74e0bb7 da0c5b2
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Fri Jul 7 20:05:07 2023 +0530

    Merge pull request #51 from Madhavgediya/07-07-23
    
    07 07 23

[33mcommit da0c5b2e76cf21df0d00c4b1f787c51e82ac9ef0[m[33m ([m[1;31morigin/Develop-main[m[33m, [m[1;31morigin/BS-7-july[m[33m, [m[1;31morigin/07-07-23[m[33m)[m
Merge: d1b5d97 1ac4f2c
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Fri Jul 7 19:48:43 2023 +0530

    Merge pull request #50 from Madhavgediya/07-07-23
    
    New Folder Added

[33mcommit 1ac4f2c898365f2e0f4fd1c6b437de6bf6b27b05[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Fri Jul 7 14:13:51 2023 +0530

    New Folder Added

[33mcommit d1b5d9780580ef4ed02e2c5dc3da496267f521c3[m
Merge: 4653713 0f327c6
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Thu Jul 6 19:45:12 2023 +0530

    Merge pull request #49 from Madhavgediya/ABC123
    
    Test File add

[33mcommit 0f327c6f7ec4025f76eb392b8a6422b7e2a59da2[m[33m ([m[1;31morigin/ABC123[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Thu Jul 6 19:35:08 2023 +0530

    Test File add

[33mcommit 4653713e5c83783cf6e18efccde8ca2114597ab0[m[33m ([m[1;31morigin/6-7-23-bootstrap[m[33m)[m
Merge: 35bd843 763b058
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Thu Jul 6 19:28:50 2023 +0530

    Merge pull request #48 from Madhavgediya/BS-6-7-23
    
    Add new file

[33mcommit 763b05880827e09179e99d44e8382a751baf5b7e[m[33m ([m[1;31morigin/BS-6-7-23[m[33m, [m[1;32mBS-6-7-23[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Thu Jul 6 19:27:29 2023 +0530

    Add new file

[33mcommit 35bd843c12b2aaae1934d559fc663fc9a6105ca2[m
Merge: 368b064 682ba56
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Thu Jul 6 17:56:05 2023 +0530

    Merge pull request #47 from Madhavgediya/BS-6-7-23
    
    add new file

[33mcommit 682ba564e2c223a4f0528048d85f7094a934d4c9[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Thu Jul 6 17:44:49 2023 +0530

    add new file

[33mcommit 368b0645f296589951db6bfe4772deca2d8070e9[m
Merge: a39886a 74e0bb7
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 20:49:46 2023 +0530

    Merge pull request #46 from Madhavgediya/develop
    
    Merge pull request #45 from Madhavgediya/master

[33mcommit 74e0bb795fd7f012c9c0f15ed609a8ed635d8d13[m[33m ([m[1;31morigin/Bootstrap-6-7-23[m[33m)[m
Merge: ddb3b95 a39886a
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 20:48:48 2023 +0530

    Merge pull request #45 from Madhavgediya/master
    
    Merge pull request #44 from Madhavgediya/develop

[33mcommit a39886ae139e09a9b75875744b62f4b3aa22aca1[m
Merge: cfdfd83 ddb3b95
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 20:42:34 2023 +0530

    Merge pull request #44 from Madhavgediya/develop
    
    Merge pull request #43 from Madhavgediya/master

[33mcommit ddb3b957d18b89c49790c440354998c2864b286b[m
Merge: bbb81df cfdfd83
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 20:42:09 2023 +0530

    Merge pull request #43 from Madhavgediya/master
    
    develop to master

[33mcommit cfdfd833b2d571a32aa3f04b50c7fd7cab91c285[m[33m ([m[1;31morigin/madhavgediya-5-7-23[m[33m, [m[1;31morigin/madhav[m[33m, [m[1;31morigin/BS-05-07-23[m[33m)[m
Merge: b16048d bbb81df
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 19:06:27 2023 +0530

    Merge pull request #41 from Madhavgediya/develop
    
    Create README.md

[33mcommit bbb81df69d22e00b28b4dcceb353a7e41167011a[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 19:03:53 2023 +0530

    Create README.md

[33mcommit b16048de2f7899f98f5c9cc79866ed1800f135c2[m
Merge: c19d8c6 c21bfeb
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 14:47:32 2023 +0530

    Merge pull request #40 from Madhavgediya/develop
    
    Develop

[33mcommit c21bfebe0786b81fa74ceebfce9477d5472f6071[m
Merge: d801ce9 bacf02a
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 14:47:10 2023 +0530

    Merge pull request #39 from Madhavgediya/BS-04-07-23
    
    Bs 04 07 23

[33mcommit d801ce96f14f7dfcd02aa9aa8cb97e7718281e8f[m
Merge: 3aa3a08 eb1b795
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jul 5 14:46:53 2023 +0530

    Merge pull request #38 from Madhavgediya/JS-03-07-23
    
    Js 03 07 23

[33mcommit bacf02a2568f9359ece5410f27d041180b05796e[m[33m ([m[1;31morigin/BS-04-07-23[m[33m, [m[1;32mBS-04-07-23[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Tue Jul 4 18:10:10 2023 +0530

    Bootstrap Preparation

[33mcommit eb1b7953c95e95886fa4ef44a76cdc11b9a8c639[m[33m ([m[1;31morigin/JS-03-07-23[m[33m)[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Tue Jul 4 16:21:38 2023 +0530

    Update index.html

[33mcommit e85e36899ac62bcdf74db0b91d8619f6604e3f3b[m[33m ([m[1;32mJS-03-07-23[m[33m)[m
Merge: 5929a1b 3aa3a08
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Tue Jul 4 16:19:42 2023 +0530

    Completed Task Calculator

[33mcommit 3aa3a0856badaa213571b041d4a7417cb49e3808[m
Merge: e4f8d3f 1a9e8df
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Tue Jul 4 16:18:06 2023 +0530

    Merge pull request #37 from Madhavgediya/JS-03-07-23
    
    Javascript make calculator task started

[33mcommit 5929a1baa18e89a005fda768c653f9e47e3978f6[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Tue Jul 4 16:17:16 2023 +0530

    Calculater Task Completed...

[33mcommit 1a9e8dfed83634c99134862ffe4c7ad5d3046cdc[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Tue Jul 4 15:40:37 2023 +0530

    Update style.css

[33mcommit 3963175a837da0173a0691ac759f3dba933e22f7[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Tue Jul 4 15:40:17 2023 +0530

    Update index.html

[33mcommit 68e9c7ed93065bcc2d7163a1a0298b4e6a40bcd4[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Tue Jul 4 15:39:32 2023 +0530

    Update calculator.html

[33mcommit c19d8c6c9bd609d47facddc44b1f7b70b00ce543[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Tue Jul 4 15:38:26 2023 +0530

    Create README.md

[33mcommit 3509c682a00031358484ea68134dfa560d68f7d7[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Mon Jul 3 18:49:20 2023 +0530

    Javascript make calculator task started

[33mcommit ab8402c62ef93b38c6686f94fd468ccbd1ebbaff[m
Merge: 5ee54ce 9021112
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Mon Jul 3 15:47:27 2023 +0530

    Merge pull request #36 from Madhavgediya/JS-30-06-2023
    
    Modified Task

[33mcommit 902111210296f61c507c68324ab4b791867389d5[m[33m ([m[1;31morigin/JS-30-06-2023[m[33m, [m[1;32mJS-30-06-2023[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Mon Jul 3 15:42:33 2023 +0530

    Modified Task

[33mcommit 5ee54ce75d9f6854117251614822f53730ed3fda[m
Merge: 7ca84ec e4f8d3f
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Mon Jul 3 15:28:37 2023 +0530

    Merge pull request #35 from Madhavgediya/develop
    
    Develop

[33mcommit e4f8d3fcb355ce7478fd70b10dc36e9cee8ef7a2[m
Merge: 422b979 372fb4f
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Mon Jul 3 15:27:46 2023 +0530

    Merge pull request #34 from Madhavgediya/JS-30-06-2023
    
    Js 30 06 2023

[33mcommit 372fb4f65037c920fd3b007cccff88ab5d7ec3af[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Mon Jul 3 15:25:51 2023 +0530

    Javascript Task Completed....!

[33mcommit 94c1d143756afeff4ba7fb56533b03a104d6117c[m
Merge: 632d4d7 7ca84ec
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Mon Jul 3 15:08:24 2023 +0530

    Merge branch 'master' of https://github.com/Madhavgediya/NAVIGATION-BAR-TASK into JS-30-06-2023

[33mcommit 7ca84ec9f6588caa7978b1d2c5e529e0c959771f[m
Merge: 14f5b2f 422b979
Author: DeepPoradiya <134600565+DeepPoradiya@users.noreply.github.com>
Date:   Mon Jul 3 15:04:41 2023 +0530

    Merge pull request #33 from Madhavgediya/develop
    
    Develop

[33mcommit 422b979c9bd627f6d2490ab0d0e1ab303d9af1f0[m
Merge: f62e681 edd70e3
Author: DeepPoradiya <134600565+DeepPoradiya@users.noreply.github.com>
Date:   Mon Jul 3 15:01:36 2023 +0530

    Merge pull request #31 from Madhavgediya/JS-28-06-2023
    
    js-28-06-2023

[33mcommit 632d4d781b15a40ec4ec76dc7c5a1acf835859c7[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Fri Jun 30 20:21:12 2023 +0530

    Javascript make TODO LIST task

[33mcommit edd70e3f8c174f1689da5685223c801dd87a71c5[m[33m ([m[1;32mJS-28-06-2023[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Fri Jun 30 20:18:11 2023 +0530

    ..

[33mcommit 14f5b2f4623ca8d7d6a32f5450c1c6ef8968fc26[m
Merge: 6d1dc57 f62e681
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Fri Jun 30 20:12:45 2023 +0530

    Merge pull request #30 from Madhavgediya/develop
    
    Develop

[33mcommit f62e681bba1f0b361a00ba3f913f10540a376f26[m
Merge: 922839f 0ee8ed4
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Fri Jun 30 20:09:08 2023 +0530

    Merge pull request #29 from Madhavgediya/JS-28-06-2023
    
    Js 28 06 2023

[33mcommit 0ee8ed4b2a8fea5c390b0453d7b3f0bb9d66729f[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Fri Jun 30 15:41:20 2023 +0530

    Style.css

[33mcommit b1ccf3b51da2e94b57a60b3a99820bd9533c5e45[m
Merge: 3201aca 6d1dc57
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Fri Jun 30 15:38:30 2023 +0530

    config

[33mcommit 922839fbd5fbb0b8268516b64056c23b1ce34805[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Fri Jun 30 15:32:10 2023 +0530

    Update script.js

[33mcommit e48d703e334aff49bc8f9e32780106192bc93afb[m
Merge: 2498860 3201aca
Author: Ravi Chauhan <88474495+RaviChauhanSulok@users.noreply.github.com>
Date:   Thu Jun 29 19:08:06 2023 +0530

    Merge pull request #28 from Madhavgediya/JS-28-06-2023
    
    Js 28 06 2023

[33mcommit 3201aca4a5b4202983778b43c71e0765ee14de18[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Thu Jun 29 18:59:19 2023 +0530

    Conflicts

[33mcommit 2498860a56bfded2b92d6dd253d5d64d3613def7[m
Merge: d5e0388 eb501d3
Author: Ravi Chauhan <88474495+RaviChauhanSulok@users.noreply.github.com>
Date:   Thu Jun 29 18:56:27 2023 +0530

    Merge pull request #26 from Madhavgediya/JS-28-06-2023
    
    javascript task make a Button and responsive

[33mcommit 0886f735d11616aff761e1e36bc6996595dba75f[m
Merge: a156a84 eb501d3
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Thu Jun 29 18:56:06 2023 +0530

    Conflicts

[33mcommit a156a8461cf1b45e62a0f0c5f53bbfd64b259d7e[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Thu Jun 29 18:39:45 2023 +0530

    Javascript task 70% Completed

[33mcommit eb501d3c888551f5724dae9577edb8353ebec211[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Thu Jun 29 18:36:45 2023 +0530

    Update m.html

[33mcommit 4b6a7bd1cb4799a66475b74955bbbc81f6d11ad0[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Thu Jun 29 18:33:23 2023 +0530

    Javascript task 70% Completed

[33mcommit fc3e598e7619eaa4b1fb02501c3e5a8242efd614[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jun 28 18:49:23 2023 +0530

    Update style.css

[33mcommit 055b57e747e1e15e2ca19036e5a04e0f0417a8dd[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jun 28 18:48:39 2023 +0530

    Update all method.html

[33mcommit 1dd287e43d14f93825ebc61e068755abb88172e4[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jun 28 18:48:16 2023 +0530

    Update settings.json

[33mcommit 76084bc442612e8475a88a29e91a7143c76f76d1[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jun 28 18:47:55 2023 +0530

    Update settings.json

[33mcommit 6d1dc57354682a652e5d784cc923a69a836bf5c2[m
Author: MADHAV GEDIYA <126283581+Madhavgediya@users.noreply.github.com>
Date:   Wed Jun 28 18:43:24 2023 +0530

    Update style.css

[33mcommit e6976bdaa577d8d7feb944430442958ce81af1d9[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Wed Jun 28 18:32:56 2023 +0530

    javascript task make a Button and responsive

[33mcommit bcbcba3d6b3b425ad5388c73ef36c995aac53d47[m
Merge: 11c64e9 d5e0388
Author: Ravi Chauhan <88474495+RaviChauhanSulok@users.noreply.github.com>
Date:   Tue Jun 27 18:47:09 2023 +0530

    Merge pull request #25 from Madhavgediya/develop
    
    Develop

[33mcommit d5e03888e12fdb60b1ee4b78cffcc52425998df5[m[33m ([m[1;31morigin/JS-29-06-2023[m[33m)[m
Merge: 106f2b9 9a11604
Author: Ravi Chauhan <88474495+RaviChauhanSulok@users.noreply.github.com>
Date:   Tue Jun 27 18:46:44 2023 +0530

    Merge pull request #24 from Madhavgediya/JS-27-06-2023
    
    Js 27 06 2023

[33mcommit 9a1160485cf66b6b4633cba9af2517f0756454ac[m[33m ([m[1;31morigin/JS-27-06-2023[m[33m, [m[1;32mJS-27-06-2023[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Tue Jun 27 18:43:27 2023 +0530

    Javascript Task Given By Ravi sir

[33mcommit 55484a0dd733278f7e53e56d52d809aa304f4104[m[33m ([m[1;31morigin/JS-26-06-2023[m[33m, [m[1;32mJS-26-06-2023[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Mon Jun 26 19:14:45 2023 +0530

    JAVASCRIPT Json intro, basic overview, practice in json, make object, task in json priperation

[33mcommit 106f2b971236297af72d13cecf537d7802f00ae6[m
Merge: ed1ec1d bddba59
Author: Ravi Chauhan <88474495+RaviChauhanSulok@users.noreply.github.com>
Date:   Fri Jun 23 18:14:14 2023 +0530

    Merge pull request #22 from Madhavgediya/JS-23-06-23
    
    Js 23 06 23

[33mcommit bddba59ad48d171d6d9d35636ff91125c9d080da[m[33m ([m[1;31morigin/JS-23-06-23[m[33m, [m[1;32mJS-23-06-23[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Fri Jun 23 18:08:46 2023 +0530

    strict mode, this keyword, arrow function, classes, modules, josn, debugging, stlye guide, version..

[33mcommit 00cf528523734fcc619ff4dc53c0ee12f2271365[m[33m ([m[1;31morigin/JS-22-06-2023[m[33m, [m[1;32mJS-22-06-2023[m[33m)[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Fri Jun 23 17:12:40 2023 +0530

    JS Work Semple CheckBranch

[33mcommit ed1ec1de4a7eb071554f6399c288749d8b716d23[m[33m ([m[1;31morigin/JS-23-06-2023[m[33m, [m[1;32mJS-23-06-2023[m[33m)[m
Merge: f709b51 e586e44
Author: Nipasulok <95352491+NipaBhadja@users.noreply.github.com>
Date:   Fri Jun 23 17:00:15 2023 +0530

    Merge pull request #20 from Madhavgediya/JS-22-06-2023
    
    JS-22-06-2023

[33mcommit e586e442588b6591cf487d77f4544a7e1a91238c[m
Author: Madhavgediya <madhavgediya@gmail.com>
Date:   Thu Jun 22 21:59:02 2023 +0530

    JavaScript Today's Work Typeof (String, Number, Boolean, Null, undefine,...), Type Convertsion(Converting Strings to Numbers, Converting Numbers to Strings, Converting Dates to Numbers, Converting Numbers to Dates, Converting Booleans to Numbers, Converting Numbers to Booleans.), BitWise, Regular Expressions (Search, Replace), Operator Precedence, Scope (Block scope, Function scope, Global scope), Error...
