html {
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-family: 'Heebo', sans-serif;
  /* font-family: "Source Sans Pro", sans-serif; */
  background-color: #ffffff;
}

.front-side,
.back-side {
  width: 390px;
  height: 220px;
  display: grid;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: 4% 92% 4%;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color: #122529;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(8, 50px);
  grid-gap: 8px;
  width: 150px;
  height: 400px;
  transform: rotate(-45deg);
}

.black {
  background-color: #343536;
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
}

.red1 {
  background-color: #e45e4f;
  grid-row: 2 / span 5;
}

.red2 {
  background-color: #e45e4f;
  grid-column: 2 / span 2;
  grid-row: 4/7;
}

.green {
  background-color: #007e67;
  grid-column: 2/4;
  grid-row: 7/9;
}

.info-grid {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.363);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.432);
  border-radius: 6px;
  font-size: 0.7rem;
  /*12px;*/
  display: grid;
  grid-template-columns: 15px repeat(3, 1fr) 15px;
  grid-template-rows: repeat(3, 1fr);
  line-height: 1px;
}

.info-grid .name {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  font-size: 1.2em;
  letter-spacing: .1rem;
  margin-top: 8px;
}

.info-grid .name h5 {
  font-weight: unset;
}

.info-grid .addr {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.info-grid .phoneNo {
  grid-column: 3 / span 2;
  grid-row: 2;
  text-align: end;
}

.info-grid .emailId {
  grid-column: 3 / span 2;
  grid-row: 3;
  text-align: end;
  font-size: 1.1em;
}

.back-side .name-tag {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  align-self: center;
  z-index: 2;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.363);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.288);
  font-size: 0.6rem;
  /*12px;*/
  letter-spacing: .1rem;
  text-align: center;
}

.name-tag h1,
h3 {
  margin: 2px;
  font-weight: unset;
}

.credits {
  margin-top: 40px;
  text-align: center;
  color: #343536;
}

.main-bg {
  display: flex;
  width: 336px;
  height: 225px;
  padding-top: 41px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 31px;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 3px 2px 10px;
}

.main-bg-2 {
  display: flex;
  max-width: 336px;
  min-height: 225px;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 3px 2px 10px;
  overflow: hidden;
}

.main-bg-4-1 {
  overflow: hidden;
  color: white;
  max-width: 350px;
  max-height: 225px;
  background: #141313;
}

.main-bg-4-2 {
  width: 350px;
  min-height: 225px;
  max-height: 225px;
  background: #141313;
  color: white;
}

.footer {
  height: 30px;
  background: #FDBD10;
}

.textFont {
  font-size: 20px;
}

.main-bg-5-1 {
  max-width: 350px;
  min-height: 225px;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  overflow: hidden;
}

.main-bg-5-2 {
  width: 350px;
  height: 225px;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  overflow: hidden;
}

.design-1 {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  width: 100px;
  height: 100px;
  top: -30px;
  left: -30px;
  border-radius: 100px;
}

.design-2 {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  width: 100px;
  height: 100px;
  bottom: -30px;
  right: -30px;
  border-radius: 100px;
}

.design-3 {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  width: 100px;
  height: 100px;
  bottom: -30px;
  left: -30px;
  border-radius: 100px;
}

.design-4 {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  width: 100px;
  height: 100px;
  top: -30px;
  right: -30px;
  border-radius: 100px;
}

.main-bg-1-1 {
  max-width: 300px;
  min-height: 550px;
  background-image: url('../public/images/bg1.jpg');
  overflow: hidden;
}

.main-bg-1-2 {
  max-width: 300px;
  min-height: 550px;
  background-color: #a17968;
  background-image: linear-gradient(45deg, #a17968 0%, #453333 100%);
  overflow: hidden;
}

.text1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.tagline1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
  color: #fff;
  text-align: center;
}

.phone1 {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.address1 {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.website1 {
  font-size: 0.5rem;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-bg-2-1 {
  max-width: 425px;
  min-height: 225px;
  background: rgb(213, 153, 97);
  background: linear-gradient(90deg, rgba(213, 153, 97, 1) 0%, rgba(252, 222, 70, 1) 100%);
  overflow: hidden;
  position: relative;
}

.main-bg-2-2 {
  position: relative;
  max-width: 425px;
  min-height: 225px;
  background: rgb(213, 153, 97);
  background: linear-gradient(270deg, rgba(213, 153, 97, 1) 0%, rgba(252, 222, 70, 1) 100%);
  overflow: hidden;
}

.logo2 {
  width: 100px;
  height: 100px;
}

.logobg-2-1 {
  position: absolute;
  bottom: -120%;
  right: -50%;
  width: 150%;
  opacity: 0.2;
}


.logobg-2-2 {
  position: absolute;
  top: -105%;
  right: -50%;
  width: 150%;
  opacity: 0.2;
}