@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    color: white;
    background-color: #101010;
    font-size: 0.7rem;

}

.logo {
    color: #FFF;
    background: linear-gradient(90deg, #FF0404 0%, rgba(0, 0, 0, 0.00) 68.79%);
    display: inline-flex;
    padding: 0.1875rem 1.96875rem;
    justify-content: center;
    align-items: center;
    font-family: 'Scada', sans-serif;
    /* font-size: 2.5rem; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.robilogo {
    color: #FF0404;
    font-family: 'Scada', sans-serif;
    /* font-size: 2.5rem; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box-1 {
    border-radius: 1.5rem;
    background: #1A1A1A;
    /* width:; */
}


.btn-danger {
    /* display: flex; */
    border-radius: 0.25rem;
    background: var(--nairobi-red-db-0-c-26, #DB0C26);
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    color: var(--ffffff-bg-1, #FFF);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #FFF;
    /* H6 16px Regular Inter */
    font-family: 'Inter';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    /* 1.75rem */
}

.input-hover {
    background-color: #1A1A1A;
    color: white;
}

.input-hover:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    .bottom-logo {
        margin: 0px auto;
        display: flex;
        justify-content: center;
        /* background-color: #DB0C26; */
    }
}


/* Lock Screen html */

.lock_screen {
    width: 25rem;
}

/* Lock Screen End */

/* Sign Up page Start*/
.font-same {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    /* font-style: normal; */
    /* font-weight: 400; */
    line-height: 175%;
}

.sign_up_input {
    line-height: 0.5rem;
    display: flex;
    justify-content: center;
}

.sign_up_input input[type='text'] {
    height: 30px;
}


/* Sign Up page End */

/* main index.html start */

.u-navbar {
    background-color: #101010;
}

.c-freme {
    background-color: #000000;
    width: 100%;
    height: 100vh;
}

.menus {
    width: 70px;
    background-color: #101010;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .menus {
        width: 70px;
        background-color: rgb(34, 41, 48);
        height: 110px;
    }

    .menus ul li {
        padding-left: 1.5rem;
    }

    .lock_screen {
        width: 19rem;
    }

    .lock_screen_row {

        justify-content: center;
    }
}

.menus li {
    /* margin: 0 20px; */
    margin-top: 15px;
}

.menus li a {
    margin: 0 15px;
}

.menus li:hover {
    /* background: red; */
    background: linear-gradient(90deg, #FE1F27 25%, rgba(254, 31, 39, 0.00) 82.81%);
    width: 100;
}

.good-evening {
    color: #FE1F27;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 0.05rem;
}

/* main index.html end */







