body {
    color: white;
    background-color: #101010;
    font-size: 0.7rem;
    
}

.btn-danger {
    border-radius: 0.25rem;
    background: var(--nairobi-red-db-0-c-26, #DB0C26);
    font-size: 0.7rem;
    width: 130px;
}

.input-hover {
    background-color: #1A1A1A;
    color: white;
}

.input-hover:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    .bottom-logo {
        margin: 0px auto;
        display: flex;
        justify-content: center;
        /* background-color: #DB0C26; */
    }
}


/* This is NAIROBI_CONFIRM.html Css Started*/

.logo {
    color: #FFF;
    background: linear-gradient(90deg, #FF0404 0%, rgba(0, 0, 0, 0.00) 68.79%);
    display: inline-flex;
    padding: 0.1875rem 1.96875rem;
    justify-content: center;
    align-items: center;
    font-family: Scada;
    /* font-size: 2.5rem; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.robilogo {
    color: #FF0404;
    font-family: Scada;
    /* font-size: 2.5rem; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box-1 {
    border-radius: 1.5rem;
    background: #1A1A1A;
    /* width:; */
}

.bg-w {
    width: 75%;
}

@media only screen and (max-width: 600px) {
    .bg-w {
        width: 100%;
    }
}

.pwd {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    /* width: 50%; */
    line-height: normal;
}

/* .confirm-bg{
    background-image: url('images/Char/c-1.png');
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 0px;
    width: 100%;
    height: 100%;
} */


/* This is NAIROBI_CONFIRM.html Css Ended*/


/*404Error.html*/

.con404 {
    height: 100vh;
    display: flex;
    align-items: center;
}

.main-title-error-404 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    /* font-size: 100px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-sub-title-error-404 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: normal;
}


/*404Error.html end */

/* 505  */

.con505 {
    height: 100vh;
    display: flex;
    align-items: center;
}

/* 505 */

/* Lock Screen html */

.lock_screen {
    width: 25rem;
}

.menus {
    width: 70px;
    background-color: rgb(34, 41, 48);
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .menus {
        width: 70px;
        background-color: rgb(34, 41, 48);
        height: auto;
    }

    .menus ul li {
        padding-left: 1.5rem;
    }

    .lock_screen {
        width: 19rem;
    }

    .lock_screen_row{
        
        justify-content: center;
    }
}

.menus ul {
    margin: 0 auto;
    margin-top: 2rem;
}

.menus ul li {
    margin-top: 1rem;
}

.menus ul li:hover {
    background: red;
    width: 100px;
}

/* Sign Up page Start*/
.font-same {
    color: #FFF;
    font-family: Poppins;
    font-size: 0.7rem;
    /* font-style: normal; */
    /* font-weight: 400; */
    line-height: 175%;
}

.sign_up_input {
    line-height: 0.5rem;
    display: flex;
    justify-content: center;
}

.sign_up_input input[type='text'] {
    height: 30px;
}


/* Sign Up page End */







